@font-face {
    font-family: jakartaSans;
    src: url(../fonts/PlusJakartaSans-VariableFont_wght.woff2);
}

@font-face {
    font-family: jakartaSansItalic;
    src: url(../fonts/PlusJakartaSans-Italic-VariableFont_wght.woff2);
}

* {
    font-family: jakartaSans, sans-serif;
    margin: 0px;
}

body {
    background-color: #d6e3f5;  
    background-color: rgb(14, 14, 14);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}

#searchbar > * {
    border: 0px;
    height: 35px;
    margin-top: 10px;
}

#search {
    width: 25vw;
    border-radius: 10px 0px 0px 10px;

    box-sizing: border-box;
    padding: 10px;
    
}

#searchbar button {
    border-radius: 0px 10px 10px 0px    ;
}

#timePlace {
    display: flex;
    justify-content: space-between;
}

#timePlace > p:last-child {
    color: grey;
    font-family: jakartaSansItalic;
    font-weight: 350;
}

#currentCard {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 20px 20px 30px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(53, 53, 53);
    font-weight: 500;
    border-radius: 10px;
    width: min(100vw, 750px);
    /*background-image: url(../images/shot-by-cerqueira-kmoe5HdXqvc-unsplash.jpg);*/
}

#tempHolder {
    width: fit-content;
    position: relative;
}

#tempHolder > h1 {
    font-size: 100px;
}

#tempMarker {
    position: absolute;
    font-size: 45px;
    font-weight: 1000;
    bottom: 12px;
    right: 14px;
}

#weather > h1:nth-child(2) {
    font-weight: 400;
}

#weatherContent {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
}

#weekCard {
    grid-column: 1/2;
    grid-row: 2 / 5;

    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    max-height: 510px;
    scrollbar-width: thin;
    scrollbar-color: rgb(230, 230, 230) white;
}

.day {
    display: flex;
    box-sizing: border-box;
    padding: 20px 0px;
    gap: 10px;
    border-top: 1px solid grey;
}

.day>p:first-child {
    font-weight: bold;
    font-size: 25px;
}

.day>p:last-child {
    justify-self: end;
}

#weekCard > div:first-child {
    font-weight: bold;
    background-color: white;
    margin-bottom: 10px;
    display:flex;
}

#windCard {
    background-color: white;
    grid-column: 2/3;
    grid-row: 4/5;

    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#windCard > div:first-child {
    font-weight: bold;
    background-color: white;
    padding-bottom: 10px;
    display:flex;
}

.windData {
    display: flex;
    box-sizing: border-box;
    padding: 10px 0px;
    gap: 0px;
    border-top: 1px solid grey;
    font-weight: 400;
    font-size: 18px;
}

#aqCard {
    background-color: white;
    grid-column: 2/3;
    grid-row: 3/4;

    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

meter {
    width: 200px;
}